<html>
	<head>
		<title> Blog: Following the presidential campaign</title>
	</head>

	<body>

		<h1> Predicting Super's Tuesday Party Nominee's</h1>

<h2> Democratic Winner </h2>
	<p> Results by State</p>

	<br  />

<h2> Republican Winner </h2>
	<p> Results by State</p>


	<h3> Latest News on the race:</h3>
		<div>
			<h4> <a href="http://www.cnn.com/2016/02/26/politics/chris-christie-endorses-donald-trump/"> Chris Christy endores Trump!</a></h4>
		</div>

	<h3> Blog Posts </h3>
		<div>
			<h4><a href=""> My first post</a></h4>
		</div>

		<div>
			<h4><a href=""> My second post</a></h4>
		</div>

		<div>
			<h4><a href=""> My third post</a></h4>
		</div>



	</body>
	
</html>